---
import Basic from "../components/Basic.astro";
import About from "../components/About.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import cvData from "../data/cv.json"
---

<BaseLayout title="Minimalist - CV">
    <main>
        <div class="basics-header">
            <Section titleName={cvData.basics.name}>
                <Basic basics={cvData.basics} />
            </Section>
            <img src="/public/me.webp" alt="">
        </div>
        <Section title="À propos de moi">
            <About basics ={cvData.basics} />
        </Section>
    </main>
</BaseLayout>

<style>
    main{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    @media screen and (min-width: 768px){
        main{
            max-width: 700px;
            margin: 0 auto;
            padding: 4rem 0;
            padding-bottom: 0;
        }
    }
    .basics-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .basics-header img{
        width: 110px;
        height: 110px;
        border: 1px solid #a1a1a1;
        padding: 0.2rem;
        border-radius: 0.8rem;
    }
    .basics-header img:hover{
        filter: contrast(80%);
    }
</style>