---
import Basic from "../components/Basic.astro";
import About from "../components/About.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Education from "../components/Education.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import cvData from "../data/cv.json"
---

<BaseLayout title="Minimalist - CV">
    <main>
        <div class="basics-header">
            <Section titleName="Petros Córdova">
                <Basic basics={cvData.basics} />
            </Section>
            <img src="/public/me.webp" alt="Is Me Petros">
        </div>
        <Section title="À propos de moi">
            <About basics ={cvData.basics} />
        </Section>
        <Section title="Expérience Professionnelle">
            {cvData.work.map(work => <WorkExperience work={work} /> )}
        </Section>
        <Section title="Education">
            {cvData.education.map(education => <Education education={education} /> )}
        </Section>
    </main>
</BaseLayout>

<style>
    main{
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .basics-header{
        background: #eee;
        border: 1px solid #f1f1f1;
        border-radius: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .basics-header img{
        box-shadow: 0 0 5px #444;
        padding: 0.2rem;
        border-radius: 0.8rem;
        width: 110px;
        transition: .3s ease;
    }
    .basics-header img:hover{
        filter: contrast(80%);
        transform: scale(1.1);
    }
    @media screen and (min-width: 768px){
        main{
            max-width: 700px;
            margin: 0 auto;
            padding: 3rem 0;
        }
        .basics-header{
            flex-wrap: inherit;
            justify-content: space-between;
            padding-right: 1rem;
        }
    }
</style>